
 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    flex-direction: column;
}

.clock-container {
    position: relative;
    width: 300px;
    height: 300px;
    border: 10px solid #fff;
    border-radius: 50%;
    background-color: #333;
}

.point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hour {
    position: absolute;
    color: white;
    text-align: center;
    transform-origin: center;
}

.niddle {
    position: absolute;
    width: 2px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
}

.hour.niddle {
    height: 25%;
    background-color: white;
}

.minute.niddle {
    height: 40%;
    background-color: white;
}

.second.niddle {
    height: 45%;
    background-color: red;
}

.displayDate {
    margin-top: 20px;
    font-size: 1.5rem;
}
